@model MessagesViewModel

@foreach (Message item in Model.Messages)
{
    <hr />
    <blockquote class="blockquote">
        <p class="mb-0">@item.Text</p>
        <footer class="blockquote-footer">@item.User.Nickname</footer>
        <p align="right">@item.Date</p>
        <p align="right">
            Понравилось: @item.Likes
        </p>

    </blockquote>
    <a asp-action="DeleteMessage" asp-controller="Admin" asp-route-id="@item.Id">Удалить собщение</a>
    <a asp-action="EditMessage" asp-controller="Admin" asp-route-id="@item.Id">Редактировать сообщение</a>
    <hr/>


}
