@model UserViewModel

    <div class="list-group">
        @for (int i = 0; i < Model.Users.Count; i++)
        {
        <form method="post">
            <hr />
            <p>
                <button type="button" class="btn btn-outline-warning">
                    @Model.Users[i].Name - @Model.Users[i].Role.Name
                </button>
                <select name="roleId">
                    @foreach (Role item in Model.Roles)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <button align="right" class="btn btn-outline-primary"
                        asp-action="UpdateUserRole" asp-controller="Admin" asp-route-userId="@Model.Users[i].Id">
                    Подтвердить изменение роли

                </button>
                @if (Model.Users[i].IsBanned)
                {
                    <font color="red">
                        <i><mark>Забанен</mark></i>
                    </font>
                    <button align="right" class="btn btn-outline-primary"
                            asp-action="Unban" asp-controller="Admin" asp-route-id="@Model.Users[i].Id">
                        Разбанить пользователя

                    </button>
                }
                else
                {
                    <font color="green">
                        <i><mark>Не забанен</mark></i>
                    </font>
                    <button align="right" class="btn btn-outline-primary"
                            asp-action="Ban" asp-controller="Admin" asp-route-id="@Model.Users[i].Id">
                        Забанить пользователя

                    </button>
                }

            </p>
            <hr />
        </form>
        }
    </div>



