@model List<QSectionAnswer>

    @foreach (QSectionAnswer item in Model)
    {
        <p align="left">Голосов за вариант "@item.Name" - @item.VolumeOfVote</p>
    }
<form method="post">
    <select class="form-control">
        @foreach (QSectionAnswer item in Model)
        {
            <option name=@item.Id>@item.Name</option>
        }
    </select>
    @foreach (QSectionAnswer item in Model)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-action="Section" asp-controller="Section" asp-route-id="@item.Id">
            <label class="form-check-label" for="flexRadioDefault1">
                @item.Name
            </label>
        </div>
    }

    <button type="submit" class="btn btn-outline-info">Инфо</button>
</form>